// All badges, blips, and dips and their related modifiers

@import "variables"

.badge--id
  font-size: 0.66em
  font-family: monospace
  letter-spacing: 0.1em
  opacity: 0.7
  font-weight: 200
  font-style: italic
  margin-left: ($margin--sibling / 2)

.badge--status
  &::after
    content: " "
    display: inline-block
    border-radius: 100%
    margin-left: 5px
    width: 10px
    height: 10px
    border: 1px solid rgba($colors--dark, 0.33)

.badge--status-inactive
  @extend .badge--status
  &::after
    background-color: $colors--status-inactive

.badge--status-live
  @extend .badge--status
  &::after
    background-color: $colors--status-live

.badge--status-down
  @extend .badge--status
  &::after
    background-color: $colors--status-invalid

.badge--status-checking
  @extend .badge--status
  &::after
    background-color: $colors--status-checking
