// Core UI elements that appear almost everywhere (headers, footers, copyrights)

@import "variables"
@import "utils"

.base--body
  background-color: $colors--primary
  width: 100%
  font-family: "Helvetica Neue", "Helvetica", sans-serif
  color: $colors--dark
  display: block

.base--page-content
  padding: 0 $margin--sibling
  max-width: $base-max-content-width
  margin: auto

.base--top-header
  display: block
  overflow: hidden
  text-align: center
  width: 66px
  padding: 0
  margin: 0 auto ($margin--sibling * 2) auto
  color: $colors--light
  font-variant: all-small-caps
  font-size: 1em
  background-color: $colors--accent2
  padding: 4px 20px
  border-radius: 0 0 10px 10px
  font-weight: 300
  letter-spacing: 0.1em

.base--top-navigation
  @extend .util--space-btwn
  top: 15px
  position: absolute
  width: 100%
  padding: 0 $margin--sibling
  max-width: ($base-max-content-width - ($margin--sibling * 2))
  left: 50%
  transform: translateX(-50%)
  font-variant: all-small-caps
  a
    color: rgba($colors--light, 0.66)
    background-color: rgba($colors--light, 0)
    border-radius: 20px
    padding: 5px 15px
    font-size: .8em
    border: 1px solid rgba($colors--light, 0.33)
    font-weight: bolder
    transition: $trans-btn
    width: 33%
    text-align: center
    max-width: 166px
    &:hover
      background-color: $colors--accent
      color: $colors--dark
      border: 1px solid $colors--accent

.base--notification
  background-color: $colors--light
  color: $colors--dark
  font-size: 0.75em
  margin: $margin--sibling auto
  padding: 8px
  font-weight: bolder
  display: flex
  align-items: center
  img, svg
    margin-right: 0.5em

.base--footer
  background-color: darken($colors--primary, 5%)
  color: $colors--light
  font-size: 0.75em
  font-weight: 300
  padding: 5%
  margin: 60px 0 0 0
