// Core UI elements that appear almost everywhere (headers, footers, copyrights)

@import "variables"
@import "utils"

.base--body
  background-color: $colors--primary
  width: 100%
  min-width: 275px
  font-family: "Helvetica Neue", "Helvetica", sans-serif
  color: $colors--dark
  display: block

.base--page-content
  padding: 0 $margin--sibling
  max-width: $base-max-content-width
  margin: auto

.base--top-header
  display: block
  overflow: hidden
  text-align: center
  width: 66px
  padding: 0
  margin: ($margin--sibling / 2) auto ($margin--sibling) auto
  color: $colors--light
  font-variant: all-small-caps
  font-size: 1em
  background-color: rgba($colors--accent2, 0)
  border-radius: 0 0 10px 10px
  font-weight: 300
  letter-spacing: 0.1em

.base--top-navigation
  @extend .util--space-btwn
  top: 15px
  position: absolute
  width: 100%
  padding: 0 $margin--sibling
  max-width: ($base-max-content-width - ($margin--sibling * 2))
  left: 50%
  transform: translateX(-50%)
  font-variant: all-small-caps
  a
    color: rgba($colors--light, 0.66)
    background-color: rgba($colors--light, 0)
    border-radius: 20px
    padding: 5px 15px
    font-size: .8em
    border: 1px solid rgba($colors--light, 0.33)
    font-weight: bolder
    transition: $trans-btn
    width: 33%
    text-align: center
    max-width: 166px
    &:hover
      background-color: $colors--accent
      color: $colors--dark
      border: 1px solid $colors--accent

.base--notification
  background-color: $colors--light
  color: $colors--dark
  font-size: 0.75em
  margin: $margin--sibling auto
  padding: 8px
  font-weight: bolder
  display: flex
  align-items: center
  img, svg
    margin-right: 0.5em

.base--footer
  background-color: darken($colors--primary, 10%)
  color: $colors--light
  font-size: 0.75em
  font-weight: 300
  padding: ($margin--sibling * 2)
  margin: 60px 0 0 0
  svg#MTFCUH
    height: 3em
    width: 100%
    margin: 0 auto ($margin--sibling * 2)
    filter: grayscale(1) contrast(100)
  ul
    margin: 0 0 ($margin--sibling)
    padding: 0
    font-size: 1.15em
    h3
      margin: 0 0 ($margin--sibling / 2)
      border-bottom: 1px solid rgba($colors--light, 0.33)
    li
      list-style: none
      margin-bottom: ($margin--sibling / 2)
      a
        display: block
        padding: ($margin--sibling / 4) $margin--sibling
        width: 100%
        transition: $trans-btn
        border-radius: $card--border-radius
        &:hover
          background-color: rgba($colors--light, 0.15)
  p.bottom-copyright-line
    margin: ($margin--sibling * 2) auto 0
    text-align: center
    color: rgba($colors--light, 0.66)
    font-size: 0.66em
  .footer-links
    max-width: 833px
    margin: auto


@media only screen and (min-width: $mediasize1)
  .base--footer
    .footer-links
      display: flex
      justify-content: space-between
      ul
        flex-grow: 0.25
        h3
          padding: ($margin--sibling / 2) 0
