// Buttons and related modifiers

@import "variables"
@import "cards"

.btns--top-nav-wrapper
  width: 88%
  margin: auto
  display: flex
  justify-content: space-between

.btns--nav
  color: $colors--light
  background-color: $colors--card-bg
  border-radius: 20px
  padding: 5px 15px
  font-size: .8em
  border: 1px solid $colors--border
  font-weight: bolder
  transition: $trans-btn
  &:hover
    background-color: lighten($colors--card-bg, 10%)

.btns--generic
  background-color: $colors--accent
  border: 1px solid $colors--accent
  padding: 2px 5px
  color: $colors--card-bg
  font-weight: bold
  font-size: 0.75em
  transition: $trans-btn
  &:hover
    color: lighten($colors--dark, 15%)
    background-color: lighten($colors--accent, 10%)

.btns--form
  @extend .btns--generic
  width: 33%
  display: block
  margin: $margin--sibling auto 0
  text-align: center
  padding: ($margin--sibling / 2) 0
  font-variant: all-small-caps
  font-size: 1em
  border-radius: 50px
  &:hover
    width: 66%
    border: 1px solid darken($colors--accent, 15%)

.btns--modal
  @extend .btns--form
  margin-top: calc($margin--sibling * 2)
  width: 50%

.btns--plus-one-card
  @extend .cards--base
  display: flex
  margin: calc($margin--sibling / 2) auto
  padding: 8px 0
  font-size: .75em
  font-weight: bolder
  justify-content: center
  align-content: center
  text-align: center
  transition: $trans-btn
  &:hover
    background-color: lighten($colors--card-bg, 10%)
    text-decoration: none
    &::before
      background-color: $colors--accent
      color: $colors--dark
  &::before
    content: "+"
    display: flex
    justify-content: center
    align-items: center
    border-radius: 6px
    color: $colors--primary
    margin-right: 5px
    padding: 0 8px
    transform: scale(66%)
    background-color: rgba($colors--light, 0.6)
