// Buttons and related modifiers

@import "variables"
@import "cards"

.btns--top-nav-wrapper
  width: 88%
  margin: auto
  display: flex
  justify-content: space-between

.btns--generic
  background-color: $colors--accent
  border: 1px solid $colors--accent
  padding: ($margin--sibling / 2) $margin--sibling
  color: $colors--dark
  font-weight: bold
  font-size: 0.75em
  transition: $trans-btn
  border-radius: $card--border-radius
  svg
    height: 0.75em
    transform: scale(1.66)
  &:hover
    color: lighten($colors--dark, 15%)
    border: 1px solid $colors--dark
    background-color: rgba($colors--accent, 0)

.btns--form
  @extend .btns--generic
  width: 33%
  display: block
  margin: $margin--sibling auto 0
  text-align: center
  padding: calc($margin--sibling / 2) 0
  font-variant: all-small-caps
  font-size: 1em
  border-radius: 50px
  color: $colors--light
  cursor: pointer
  &:hover
    width: 66%
    border: 1px solid darken($colors--accent, 15%)
    color: $colors--light

.btns--modal
  @extend .btns--form
  margin-top: calc($margin--sibling * 2)
  width: 50%

.btns--plus-one-card
  @extend .cards--base
  border: 1px solid $colors--light
  display: flex
  margin: calc($margin--sibling / 2) auto
  padding: 8px 0
  font-size: .75em
  font-weight: bolder
  justify-content: center
  align-content: center
  text-align: center
  transition: $trans-btn
  &:hover
    background-color: rgba($colors--accent, 0)
    border: 1px solid $colors--light
    color: $colors--light
    text-decoration: none
    &::before
      color: $colors--light
  &::before
    content: "+"
    display: flex
    justify-content: center
    align-items: center
    border-radius: 6px
    color: $colors--dark
    margin-right: 5px
    padding: 0
    height: 100%
    transition: $trans-btn
    line-height: 1.2em
