// Various cards and their related attributes

@import "variables"

.cards--base
  background-color: $colors--card-bg
  color: $colors--light
  padding: 15px
  border: 1px solid $colors--border
  margin: $margin--sibling 0

.cards--greeter
  @extend .cards--base
  padding: 10px 15px
  border-left: 7px solid $colors--accent
  span
    font-variant: all-small-caps
    font-size: 0.60em
    opacity: 0.75
    font-weight: 300
    font-style: italic
