// Input styling and related

@import "variables"
@import "buttons"

.input--badge
  height: max-content
  display: block
  position: relative
  &:after
    content: ""
    display: block
    width: 1em
    height: 1em
    right: $margin--sibling
    top: 50%
    transform: translateY(-50%)
    position: absolute
    border-radius: 100%
    pointer-events: none
  input
    &:focus
      filter: brightness(145%)


.input--badge-invalid
  @extend .input--badge
  input
    border: 1px solid $colors--status-invalid !important
    background-color: rgba($colors--status-invalid, 0.15) !important
  &:after
    background-color: $colors--status-invalid


.input--badge-valid
  @extend .input--badge
  input
    border: 1px solid $colors--status-live !important
    background-color: rgba($colors--status-live, 0.15) !important
  &:after
    background-color: $colors--status-live


.input--base
  display: block
  font-size: 1.33em
  width: 100%
  margin: 0 auto $margin--sibling
  padding: ($margin--sibling / 2)
  background-color: rgba($colors--dark,.05 )
  border: 1px solid rgba($colors--dark,.33)
  color: $colors--dark
  transition: $trans-btn
  &::placeholder
    color: darken(rgba($colors--accent2,1), 28%)
  &:hover
    background-color: lighten(rgba($colors--accent2,.15 ), 25%)
    border: 1px solid darken(rgba($colors--accent2,1), 20%)
  &:focus
    background-color: lighten(rgba($colors--accent2,.35 ), 45%)
    border: 1px solid $colors--dark
    box-shadow: none
    outline: 0 none
  &, textarea
    resize: none
    outline: none

.input--pill-btn
  text-align: center
  border-radius: 420px
  padding: ($margin--sibling / 2)
  font-weight: 400
  border: 1px solid rgba($colors--accent2,.88)
  color: $colors--dark
  transition: $trans-btn
  cursor: pointer
  &:hover
    background-color: $colors--light
    border: 1px solid darken(rgba($colors--accent2,1), 20%)

.input--two-btn
  display: flex
  justify-content: space-between
  margin: ($margin--sibling / 4) 0
  a
    width: 49%
    font-size: 0.75em

.input--color-picker
  position: relative
  width: 100%
  height: 66px
  overflow: hidden
  border-radius: $card--border-radius
  margin: ($margin--sibling / 2) 0 0
  input
    height: 120%
    width: 120%
    transform: translate(-50%, -50%)
    position: absolute
    left: 50%
    top: 50%

.input--form
  input, textarea
    @extend .input--base
    position: relative
  textarea
    min-height: 125px
    line-height: 1.33em
  label
    margin: 0 0 ($margin--sibling / 2)
    display: block
    font-weight: 600
    font-size: 1em
    &::before
      display: inline
  .input--slider-wrapper
    display: flex
    align-items: center
    margin-bottom: $margin--sibling
    .hline
      height: 0
      flex-grow: 1
      border-top: 1px dashed rgba($colors--border, 0.25)
      margin: 0 ($margin--sibling / 2)
    .input--slider-label
      padding: ($margin--sibling / 2) 0
      border-radius: $card--border-radius
    *
      margin-bottom: 0
  .input--switch
    position: relative
    display: inline-block
    max-width: (26px * 3)
    width: 33%
    height: 36px
    input
      opacity: 0
      width: 0
      height: 0
      &:checked + .input--slider
        background-color: rgba($colors--accent2, 0.33)
        &:before
          background-color: $colors--accent2
      &:focus + .input--slider
        box-shadow: 0 0 1px #2196F3
      &:checked + .input--slider:before
        -webkit-transform: translateX(42px)
        -ms-transform: translateX(42px)
        transform: translateX(42px)
    .input--slider
      position: absolute
      cursor: pointer
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-color: $colors--card-bg
      border: 1px solid $colors--border
      -webkit-transition: 350ms
      border-radius: 40px
      transition: 350ms
      &:before
        position: absolute
        content: ""
        height: 26px
        width: 26px
        left: 4px
        bottom: 4px
        background-color: $colors--light
        border: 1px solid $colors--border
        -webkit-transition: 350ms
        transition: 350ms
        border-radius: 50%
  .input--file-upload
    border-radius: 100%
    width: 100px
    height: 100px
    position: relative
    overflow: hidden
    border: 1px solid rgba($colors--accent2,.88)
    transition: $trans-btn
    &:hover
      filter: brightness(115%)
      border: 1px solid darken(rgba($colors--accent2,1), 20%)
      &::after
        text-decoration: underline
    &:before
      content: "+"
      width: 20px
      height: 20px
      position: absolute
      transform: translate(-50%, -50%) scale(1.5)
      left: 50%
      top: 40%
      color: $colors--light
      z-index: 1000
      text-align: center
      background-color: $colors--accent2
      border-radius: 100%
      line-height: 125%
      pointer-events: none
    &::after
      content: "UPLOAD"
      z-index: 1000
      position: absolute
      color: $colors--dark
      bottom: 22%
      left: 50%
      transform: translateX(-50%)
      width: max-content
      font-size: 0.75em
      font-weight: 700
      pointer-events: none
  input[type="submit"], .input--submit
    @extend .btns--generic
    display: block
    text-align: center
    font-size: 1em
    margin: ($margin--sibling * 2) auto 0
    width: 33%
    min-width: max-content
    position: relative
    cursor: pointer
  input[type="file"]
    position: absolute
    width: 120%
    height: 120%
    transform: translate(-50%, -50%)
    background-color: rgba($colors--accent2,.15 )
    top: 50%
    left: 50%
    cursor: pointer
    font-size: 0
