// Utility classes and functions to make life easier and code simplier

// Justify a group of elements to have the most space in
// between them horizontally
.util--space-btwn
    display: flex
    justify-content: space-between
    flex-direction: column
