// Utility classes and functions to make life easier and code simplier

@import "variables"

// Headers
.util--header-category
  color: $colors--light
  margin: $margin--sibling auto ($margin--sibling / 2)
  font-size: 1em

// Justify a group of elements to have the most space in
// between them horizontally
.util--space-btwn
  display: flex
  justify-content: space-between
  flex-direction: row

.util--space-arnd
  display: flex
  justify-content: space-around
  flex-direction: row

.util--dark-overlay
  width: 100%
  height: 100vh
  background-color: black
  position: fixed
  top: 0
  z-index: 999
  opacity: 0.66

.util--hide-overlay
  opacity: 0
  pointer-events: none
