// Variable/Reuseable values to reference

$margin--sibling: 15px

$trans-btn: 350ms ease-out

$colors--light: #f9f5ff
$colors--dark: #0f0f0f
$colors--primary: #3d0f4a
$colors--accent: #ffbe35

$colors--status-live: #249048
$colors--status-inactive: #eeeeee


$colors--card-bg: darken($colors--primary, 5%)

$colors--border: rgba($colors--light, 0.33)
