// Variable/Reuseable values to reference

$margin--sibling: 15px

$colors--light: #f9f5ff
$colors--primary: #420052
$colors--accent: #ffbe35

$colors--status-live: #249048

$colors--card-bg: darken($colors--primary, 5%)

$colors--border: rgba($colors--light, 0.33)
